
<div id="adminAddUser">
  <%= form_for @slot do |f| %>
     <%= collection_select(:all, :users, User.by_last_name, :id, :name) %>
     <%= f.submit "add/remove rider", :class => "btn btn-primary" %>
  <% end %>
</div>