<!--<div id='preview' class="span10 offset1">-->

<div id='preview' class="span10">
  <h1>New Slots Added!</h1>
  <table class="table table-condensed table-striped">
    <thead>
    <th>Day</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Total Spots</th>
    <th>Spots Available</th>
    <th>Waiting</th>
    <th></th>
    </thead>
    <tbody id="tblPreviewSlots">
    </tbody>
  </table>
</div>