
<div class="container">
    <div class="span10 offset2">
        <table class="table table-condensed table-bordered table-striped">
          <thead>
          <th>Day</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Riders</th>
          </thead>
          <% @slots.each do |slot|%>
          <tr>
                <td><%= slot.date%></td>
                <td><%= slot.start_time%></td>
                <td><%= slot.end_time%></td>
          </tr>
          <% end %>
        </table>
    <% if current_user.admin? %>
        <%=  link_to "Create New Session",new_slot_path ,class: "btn btn-large btn-primary" %>
    <% end %>
    </div>
</div>

