<h3>Upcoming Rides</h3> <br>
<% current_user.rides.each do |s| %>
    <% if s.date.to_date.future? || s.date.to_date.today?%>
        <span class="content">
         <%= link_to showday(s.date), s %>
         <ul>
         <li>start time: <%= showtime(s.start_time) %></li>
         <li>end time: <%= showtime(s.end_time) %></li>
         </ul>
        </span>
   <% end %>
<% end %>


