<h3>User Stats</h3> <br>
<span>
  <ul>
  <li>Purchases Rides Remaining: <%= current_user.purchased_rides %></li>
  <li>Rides Completed: <%= current_user.completed_rides  %> </li>
  <li>Upcoming rides: <%= current_user.upcoming_rides %> </li>
  </ul>
</span>