<h3>User Stats</h3> <br>
<span>
  <ul>
  <li>Number of Rides Completed: <%= rides_completed(current_user)  %> </li>
  <li>Number of Upcoming rides: <%= rides_upcoming(current_user) %> </li>
  </ul>
</span>