<div class="span12">
<footer>
  <blockquote><p>'Till the roof comes off, till the lights go out'</p>
    <small><i>Marshall Bruce Mathers III</i></small>
  </blockquote>
  <nav>
    <ul>
      <li>
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </li>
      <li><%= link_to "About Us",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li></li>
    </ul>
  </nav>
</footer>
</div>