<div class="span10">
<footer>
  <small>
    <blockquote><p>'Till the roof comes off, till the lights go out'</p>
        <i>Marshall Bruce Mathers III</i>
    </blockquote>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "Sign out", signout_path, :method => "delete" %>
      </li>
      <li><%= link_to "About Us",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
</div>